* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #bbb;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.signup {
  margin-right: 5px;
}

.container {
  height: 100%;
  position: relative;
  padding-bottom: 20px; /*height of footer*/
}

.content-container {
  text-align: center;
}

.hero {
  text-align: center;
  background-color: #ddd;
  padding: 10px;
}

.feature {
  text-align: center;
  padding: 10px;
  min-height: 150px;
  background-color: #eee;
}

.feature:nth-child(odd) {
  background-color: #ccc;
}

footer {
  text-align: center;
  font-size: 0.8em;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ddd;
}

.profile-container {
  padding: 20px 10px 0;
  text-align: center;
}

.game-container {
  text-align: center;
}

.profile-lists-container,
.friend-lists-container {
  text-align: center;
  padding: 0 10px;
}

.profile-list,
.friend-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 50px;
  border-radius: 100%;
}

.box-art {
  border: 1px solid #ccc;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-color: #ddd;
}

.arrow-icon {
  width: 25px;
}

.add-icon {
  width: 20px;
  cursor: pointer;
}

.env-icon {
  width: 30px;
}

.friend-avatar {
  width: 30px;
  border-radius: 100%;
}

.list-name {
  margin-left: 10px;
}

.list-button-bar {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.list-button {
  width: 33.3%;
  background-color: #ddd;
  height: 40px;
  display: flex;
  align-items: center;
  border: 2px solid #aaa;
  justify-content: center;
}

.list-button:nth-child(2) {
  background-color: #bbb;
}

.add-list {
  flex-basis: 100%;
  font-weight: bold;
}

.friend-list {
  display: flex;
  flex-direction: column;
}

.friend {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-friend {
  text-align: center;
}

.add-friend span {
  display: block;
  font-size: .8em;
}

.match-title {
  font-weight: bold;
}

.contact-container {
  text-align: center;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

textarea {
  min-height: 200px;
}

.captcha {
  align-self: center;
  margin-bottom: 20px;
}

.send-email {
  width: 50%;
  align-self: center;
}

.search-results {
  background-color: #fff;
  position: absolute;
  top: 105px;
  border: 1px solid #ccc;
  border-top: none;
  cursor: pointer;
  width: 100%;
}

.search-bar {
  margin-top: 55px;
  padding: 15px 0;
  text-align: center;
}

.search-button, .search-input {
  display: inline-block;
}

.search-input {
  margin-right: 10px;
}

.result-item {
  margin: 0 auto;
  padding: 10px;
}

.result-item:hover {
  background-color: lightblue;
}





